<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>Dark Sky</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/vue-event-calendar@1.2.14/dist/style.css">
  <style>
    @media (min-width: 1100px) {
      .modal-lg {
        width: 1000px;
      }

      .cal-events {
        height: 95%;
        overflow-y: auto;
        padding: 0 5px;
        margin: 15px 0;
      }

      .go-right {
        float: right;
      }
    }
  </style>
</head>
<body>

<div id="dspapp">
  <h1>Dark Skies Graph View</h1>
  <vue-event-calendar :events="darkSkyEvents">
    <template scope="props">
      <div v-for="(event, index) in props.showEvents" class="event-item">
        <h3 class="title">{{index+1}}. {{event.title}}
          <div class="go-right">
            <popover title="Data" trigger="hover">
              <button type="button" class="btn btn-primary" id="hover-trigger-data-index+1"
                      @click="openDataDialog=true;dialogData=event.dataFile;dialogDataTitle=event.title">
                <span class="glyphicon glyphicon-list"></span>
              </button>
              <div slot="popover">
                <p>{{ event.dataFile }}</p>
              </div>
            </popover>

            <popover title="Graph" trigger="hover">
              <button type="button" class="btn btn-primary" id="hover-trigger-graph-index+1"
                      @click="openGraphDialog=true;dialogGraph=event.graph;dialogGraphTitle=event.title">
                <span class="glyphicon glyphicon-picture"></span>
              </button>
              <div slot="popover">
                <p>{{event.graph}}</p>
              </div>
            </popover>
          </div>
        </h3>

        <template>
          <section>
            <modal v-model="openGraphDialog" size="lg">
              <span slot="title"><span class="glyphicon glyphicon-picture"></span> {{dialogGraphTitle}} </span>
              <span v-if="openGraphDialog">
                  <img :src="dialogGraph"/>
                </span>
              <div slot="footer">
                <button type="button" class="btn btn-default" @click="openGraphDialog=false">Ok</button>
                <!--
              coming soon...
              <button type="button" class="btn btn-success" @click="openGraphDialog=false">Download</button>
              -->
              </div>
            </modal>
          </section>
        </template>
        <template>
          <section>
            <modal v-model="openDataDialog" size="lg">
              <span slot="title"><span class="glyphicon glyphicon-list"></span> {{dialogDataTitle}} </span>
              <span v-if="openDataDialog">
                {{ getDataFile(dialogData) }}
                <pre>{{dialogDataContents}}</pre>
              </span>
              <div slot="footer">
                <button type="button" class="btn btn-default" @click="openDataDialog=false">Ok</button>
                <!--
                coming soon...
                <button type="button" class="btn btn-success" @click="openDataDialog=false">Download</button>
                -->
              </div>
            </modal>
          </section>
        </template>
      </div>
    </template>
  </vue-event-calendar>
</div>

<script type="text/javascript" src="js/darkskiesdata.js"></script>
<script type="text/javascript" src="https://unpkg.com/vue/dist/vue.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vue-event-calendar/dist/index.js"></script>
<script type="text/javascript" src="https://unpkg.com/uiv/dist/uiv.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/javascript">
  Vue.use(VueEventCalendar.default, {locale: 'en', color: '#4fc08d'});
  var vm = new Vue({
    el: '#dspapp',
    data: function () {
      return {
        today: new Date(),
        darkSkyEvents,
        openGraphDialog: false,
        dialogGraphTitle: "Uni",
        dialogGraph: "No Graph",
        openDataDialog: false,
        dialogDataTitle: "Uni",
        dialogData: "No Data File",
        dialogDataContents: "No Contents"
      }
    },
    methods: {
      getDataFile(dataFileUrl) {
        console.log("[DSP] Calling for data file: data[" + dataFileUrl + "]");
        if (dataFileUrl !== "No Data File") {
          axios.get(dataFileUrl, {
            headers: {
              'Access-Control-Allow-Origin': '*',
            }
          }).then((response) => {
            console.log("[DSP]: AXIOS call ok for [" + dataFileUrl + "]");
            vm.dialogDataContents = response.data; //results;
            console.log("[DSP]: Got the following File contents: [" + vm.dialogDataContents + "]");
            return vm.dialogDataContents;
          }).catch(error => {
            console.log(error);
          });
        }
      }

    }
  });
</script>
</body>
</html>